<div class="table-users-wrapper">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput placeholder="filter" (keyup)="filterchange($event)" />
  </mat-form-field>

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    matSortActive="id"
    (matSortChange)="announceSortChange($event)"
  >
    <ng-container matColumnDef="firstName">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        firstName
      </th>
      <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>last Name</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef>dob</th>
      <td mat-cell *matCellDef="let element">
        {{ element.dob  }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dateEntree">
      <th mat-header-cell *matHeaderCellDef>Date d'entrée</th>
      <td mat-cell *matCellDef="let element">
        {{ element.dateEntree  }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dateSortie">
      <th mat-header-cell *matHeaderCellDef>Date de sortie</th>
      <td mat-cell *matCellDef="let element">
        {{ element.dateSortie }}
      </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Age</th>
      <td mat-cell *matCellDef="let element">{{ element.age }}</td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let element">{{ element.phoneNumber }}</td>
    </ng-container>

    <ng-container matColumnDef="userRole">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element">{{ element.userRole }}</td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>Update</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="onClick(element)">
          <mat-icon>update</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="onDeleteUser(element.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButton>
  </mat-paginator>
</div>
