
.table-users-wrapper {
  height: 100%;
  margin: 30px;
  box-shadow: lightgray 4px 4px 20px;
}


td {
  text-align: left;
  width: 500px;
}

th {
  text-align: left;
}


th {
  text-align: left;
}
.button-create {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
  padding: 10px 1450px;

}
