.table-departement-wrapper {
  height: 100%;
  box-shadow: lightgray 4px 4px 20px;
}

.departement-info-wrapper {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
}

td {
  text-align: left;
  width: 500px;
}

th {
  text-align: left;
}

th,
td {
  border-bottom: 1px solid #ddd;
}

.departement-details {
  height: 70%;
}
.table-users-wrapper {
  margin: 30px;
  height: 100%;
}
.button-create {
  margin: 20px 0px 0px 20px;
  display: flex;
  justify-content: space-between;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}
