<div class="departement-details">
  <div class="button-create">
    <button mat-stroked-button color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>Back
    </button>
  </div>
  <mat-card class="departement-info-wrapper">
    <div>
      <div>Nom du département : {{ depDet?.name }}</div>
      <div>Emplacement : {{ depDet?.place }}</div>
    </div>
    <div>
      <div *ngIf="managerName != null; else sinon">
        Manager : {{ managerName }}
        <section class="example-section">
          <button
            mat-button
            color="warn"
            (click)="desaffectManager(managerToDesaffect)"
          >
            DESAFFECT
          </button>
        </section>
      </div>
      <ng-template #sinon>
        <div>
          <button mat-button (click)="drawerr.toggle()" (click)="idSend()">
            Ajouter Un manager
          </button>
        </div>
      </ng-template>
    </div>
  </mat-card>
  <mat-drawer-container class="table-users-wrapper">
    <mat-drawer #drawer class="example-sidenav" mode="over" position="end">
      <app-users-disponible [receivedDep]="departement"></app-users-disponible>
    </mat-drawer>

    <mat-drawer #drawerr mode="over">
      <app-manager-disponibles
        [receivedDepForManager]="departement"
        (onAffectManager)="drawerr.toggle()"
      ></app-manager-disponibles>
    </mat-drawer>
    <mat-card>
      <mat-card-title class="departement-info-wrapper"
        ><div>Les collaborateurs de cette département</div>
        <div>
          <button mat-button (click)="drawer.toggle()" (click)="idSend()">
            Ajouter un autre collabrateur
          </button>
        </div></mat-card-title
      >
      <mat-card-subtitle
        ><table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>firstName</th>
            <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>last Name</th>
            <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>

          <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef>dob</th>
            <td mat-cell *matCellDef="let element">
              {{ element.dob | date: "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="dateEntree">
            <th mat-header-cell *matHeaderCellDef>Date d'entrée</th>
            <td mat-cell *matCellDef="let element">
              {{ element.dateEntree | date: "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="dateSortie">
            <th mat-header-cell *matHeaderCellDef>Date de sortie</th>
            <td mat-cell *matCellDef="let element">
              {{ element.dateSortie | date: "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let element">{{ element.address }}</td>
          </ng-container>

          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef>Age</th>
            <td mat-cell *matCellDef="let element">{{ element.age }}</td>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let element">
              {{ element.phoneNumber }}
            </td>
          </ng-container>

          <ng-container matColumnDef="userRole">
            <th mat-header-cell *matHeaderCellDef>Role</th>
            <td mat-cell *matCellDef="let element">{{ element.userRole }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedDetailColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedDetailColumns"
          ></tr></table
      ></mat-card-subtitle>
    </mat-card>
  </mat-drawer-container>
</div>
