.charts{
  margin-left: 30px;
}
h2{
margin-left: 90 px;
}
.employeesChart{
  margin-left: 30px;
  width: 40%;
  height: 300px;
  float: left;
}
.DemandeStatus{
  margin-left : 200px ;
  width: 40%;
  height: 300px;
  float: right;
}
