
<div class="charts">
  <div class="employeesChart">
  <h2 style="margin-left: 80px;">Employees Roles</h2>
  <canvas id="employees"></canvas>
 </div>

 <div class="DemandeStatus">
  <h2 style="margin-left: 80px;">Status of Demands</h2>
  <canvas id="statusDemande"></canvas>
 </div>
</div>
