<div class="edit-user-wrapper">
  <h1>Add User</h1>

  <div>
    <form [formGroup]="createUserForm">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input
          formControlName="firstName"
          matInput
          placeholder="Enter the first name "
        />
        <mat-error
          *ngIf="createUserForm.get('firstName')?.hasError('required')"
        >
          you must enter a first name
        </mat-error>
        <mat-error *ngIf="createUserForm.get('firstName')?.hasError('pattern')">
          you must enter a valid first name
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input
          formControlName="lastName"
          matInput
          placeholder="Enter the last name"
        />
        <mat-error *ngIf="createUserForm.get('lastName')?.hasError('required')">
          you must enter a last name
        </mat-error>
        <mat-error *ngIf="createUserForm.get('lastName')?.hasError('pattern')">
          you must enter a valid last name
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          matInput
          placeholder="Enter the email address"
          required
        />
        <mat-error *ngIf="createUserForm.get('email')?.hasError('required')">
          you must enter an email
        </mat-error>
        <mat-error *ngIf="createUserForm.get('email')?.hasError('email')">
          you must enter a valid email
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date Of Birth</mat-label>
        <input formControlName="dob" matInput [matDatepicker]="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date d'entree </mat-label>
        <input
          formControlName="dateEntree"
          matInput
          [matDatepicker]="picker1"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date de sortie</mat-label>
        <input
          formControlName="dateSortie"
          matInput
          [matDatepicker]="picker2"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input
          formControlName="age"
          matInput
          type="number"
          placeholder="Enter the age"
          min="21"
        />
        <span matSuffix>years</span>
        <mat-error>Min size: 21year</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
          <mat-select formControlName="userRole">
            <mat-option value="RH">RH</mat-option>
            <mat-option value="MANAGER">Manager</mat-option>
            <mat-option value="USER">User</mat-option>
          </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <textarea
          formControlName="address"
          matInput
          placeholder="Ex. ville..."
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input
          formControlName="phoneNumber"
          matInput
          placeholder="Enter the phone number"
        />
        <mat-error
          *ngIf="createUserForm.get('phoneNumber')?.hasError('required')"
        >
          you must enter a phone number
        </mat-error>
        <mat-error
          *ngIf="createUserForm.get('phoneNumber')?.hasError('pattern')"
        >
          you must enter a valid phone number
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div [align]="'end'">
    <button mat-raised-button color="warn" (click)="onCancel()">Close</button>
    <button
      style="margin-left: 8px"
      mat-raised-button
      color="primary"
      (click)="addUser()"
      [disabled]="createUserForm.invalid"
    >
      Save
    </button>
  </div>
</div>
