<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>RH App</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/'"> Home </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <div class="menu-items">
        <mat-nav-list>
          <a mat-list-item (click)="goToPage()">
            <mat-icon>supervisor_account</mat-icon> Accounts </a
          >
          <a mat-list-item (click)="goToDepartement()"
            ><mat-icon> business</mat-icon> Departement
          </a>
          <a mat-list-item (click)="goToDocuments()"> <mat-icon>drafts</mat-icon> Documents</a>
          <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item
            ><mat-icon>exit_to_app</mat-icon>Close</a
          >
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
<!--<app-charts></app-charts> -->
</div>

