.mt-5 {
  width: 60%;
  margin: 30px auto;
  padding: 50px 20px;
  box-shadow: lightgray 4px 4px 20px;
  flex-direction: column;

}

td {
  text-align: left;
  width: 500px;
}

th {
  text-align: left;
}

th,
td {
  border-bottom: 1px solid #ddd;
}

.button-create {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
  padding: 10px 1450px;
}

.mat-icon {
  display: inline-flex;
  vertical-align: middle;
}

.departement-list-wrapper {
  margin: 0 30px 0 30px;
}

.content {
  height: 100%;
}