<mat-drawer-container class="add-document-wrapper">
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <app-document-add
      (onSubmitEvent)="onSubmitDocument($event)"
      (onCancelEvent)="drawer.toggle()"
    ></app-document-add>
  </mat-drawer>

  <div class="document-table-container">
    <div class="button-create">
      <button mat-stroked-button color="primary" (click)="goBack()"><mat-icon>arrow_back</mat-icon>Back</button>
      <button mat-stroked-button color="primary" (click)="drawer.toggle()">Create</button>
    </div>
    <div>
      <app-document-component (onClickEditDocument)="onEditClickDocument($event)"></app-document-component>
    </div>
  </div>
</mat-drawer-container>
