<div class="document-add-wrapper">
  <form  [formGroup]="createDocumentForm">
    <mat-form-field  appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select placeholder="type" formControlName="type" >
          <mat-option value="BULLETINPAIE">Bulletin de Paie</mat-option>
          <mat-option value="ATTESTATION">Attestation</mat-option>
        </mat-select>
    </mat-form-field>
    <div *ngIf="createDocumentForm.value.type == 'BULLETINPAIE'">
      <mat-form-field appearance="fill">
        <mat-label>Month and Year</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date">
        <mat-hint>MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="multi-year"
                        (monthSelected)="setMonthAndYear($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
  </div>
   <!--  <mat-form-field  appearance="fill">
        <mat-label>Date Demande</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="dateDemande" formControlName="dateDemande" >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    -->
 <!--  <mat-form-field  appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select placeholder="status" formControlName="status">
        <mat-option value="EnCours">En cours</mat-option>
        <mat-option value="Approuve">Approuve</mat-option>
      </mat-select>
  </mat-form-field> -->
    <div class="buttons">
         <button style="margin-left: 8px;" (click)="onCancel()" mat-raised-button color="accent">Close</button>
          <button style="margin : 8px" mat-raised-button color="primary" (click)="addDocument()" >{{ documentToEdit?.id ? 'Update' : 'Save'}}</button>
        </div>
  </form>
</div>
