<div class="departement-form">
  <form [formGroup]="createDepartementForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" />
        <mat-error
          *ngIf="createDepartementForm.get('name')?.hasError('required')"
        >
          You must enter a name
        </mat-error>
        <mat-error
          *ngIf="createDepartementForm.get('name')?.hasError('pattern')"
        >
          You must enter a valid name
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Place</mat-label>
        <input matInput placeholder="Place" formControlName="place" />
      </mat-form-field>
    </div>

    <div class="departement-form-button">
      <button mat-raised-button color="primary" (click)="addDepartement()">
        Save
      </button>
      <button
        style="margin-left: 8px"
        (click)="onCancel()"
        mat-raised-button
        color="accent"
      >
        Close
      </button>
    </div>
  </form>
</div>
