<div class="content">
  <div class="departement-details">
    <mat-drawer-container>
      <mat-card-title>
        <div class="title">
          <h1>Historiques des conges</h1>
        </div>
      </mat-card-title>
      <mat-card-subtitle>
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput placeholder="filter" (keyup)="FilterChange($event)" />
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>id</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>
          <ng-container matColumnDef="dateDebut">
            <th mat-header-cell *matHeaderCellDef>dateDebut</th>
            <td mat-cell *matCellDef="let element">
              {{ element.dateDebut | date : "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="dateFin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>dateFin</th>
            <td mat-cell *matCellDef="let element">
              {{ element.dateFin | date : "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="motif">
            <th mat-header-cell *matHeaderCellDef>motif</th>
            <td mat-cell *matCellDef="let element">{{ element.motif }}</td>
          </ng-container>

          <ng-container matColumnDef="duree">
            <th mat-header-cell *matHeaderCellDef>duree</th>
            <td mat-cell *matCellDef="let element">
              {{ element.duree }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">
              {{ element.status }}
            </td>
          </ng-container>

          <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef>Update</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                color="primary"
                (click)="onClick(element)"
              >
                <mat-icon>update</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>delete</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                color="warn"
                (click)="onDeleteConge(element.id)"
              >
                <mat-icon>delete_outline</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedDetailColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedDetailColumns"
          ></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"> </mat-paginator>
      </mat-card-subtitle>
    </mat-drawer-container>
  </div>
</div>
