<div class="table-managers-disponibles">
  <mat-card-title class="manager-disponibles-title">
    <div>Les Managers disponibles</div>
  </mat-card-title>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput placeholder="filter" (keyup)="filterchange($event)" />
  </mat-form-field>

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    matSortActive="id"
    (matSortChange)="announceSortChange($event)"
  >
    <ng-container matColumnDef="firstName">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by number"
      >
        firstName
      </th>
      <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>last Name</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef>Update</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          (click)="affectManagerToDepartement(receivedDepForManager, element)"
        >
          <mat-icon>update</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButton>
  </mat-paginator>
</div>
