.mat-form-field {
  width: 100%;
}

.conge-form {
  height: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 30px;
  width: 400px;
}

.conge-form-button {
  position: absolute;
  bottom: 0;
  margin: 0px 0px 80px 250px;
}
