<div class="conge-form">
  <form [formGroup]="createCongeForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Date Debut </mat-label>
        <input formControlName="dateDebut" matInput [matDatepicker]="picker1" />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date Fin </mat-label>
        <input formControlName="dateFin" matInput [matDatepicker]="picker2" />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Motif</mat-label>
        <input matInput placeholder="motif" formControlName="motif" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="ACCEPTE">ACCEPTE</mat-option>
          <mat-option value="ENCOURS">ENCOURS</mat-option>
          <mat-option value="ANNULE">ANNULE</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="conge-form-button">
      <button mat-raised-button color="primary" (click)="addConge()">
        Save
      </button>
      <button
        style="margin-left: 8px"
        (click)="onCancel()"
        mat-raised-button
        color="accent"
      >
        Close
      </button>
    </div>
  </form>
</div>
