
<mat-drawer-container class="table-users-wrapper">
    <mat-drawer #drawer class="example-sidenav" mode="over" position="start">
      <app-conge-form  
      (onSubmitCongeEvent)="onSubmitConge($event)" 
      (onCancelEvent)="drawer.toggle()">
      </app-conge-form>
    </mat-drawer>
  
    <div >
      <div class="button-create">
        <button mat-stroked-button color="primary" (click)="drawer.toggle()">
          Create
        </button>
      </div>
      <app-conge-table
      (onClickEdit)="onEditClick($event)"
      ></app-conge-table>
    </div>
  </mat-drawer-container>
  
