.table-document-wrapper{
margin: 50px;
box-shadow: lightgray 4px 4px 20px;
}
td {
  text-align: left;
  width: 500px;
}
th {
  text-align: left;
}
th, td {
  border-bottom: 1px solid #ddd;
}
p{
  margin-top: 14px;
}
