<div class="table-document-wrapper">
  <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput placeholder="filter" (keyup)="filterchange($event)">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource"  matSort matSortActive='id' (matSortChange)="announceSortChange($event)">
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Type</th>
      <td mat-cell *matCellDef="let element"> {{element.type }} </td>
  </ng-container>

          <ng-container matColumnDef="dateDemande">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Date Demande </th>
              <td mat-cell *matCellDef="let element">
               {{element?.dateDemande ? (element.dateDemande | date: 'dd-MM-yyyy') : now | date: 'dd-MM-yyyy' }} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Status </th>
            <td mat-cell *matCellDef="let element">
             {{Encours}} </td>
        </ng-container>

          <ng-container matColumnDef="update">
              <th  mat-header-cell *matHeaderCellDef> Update </th>
              <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="update(element)">
              <mat-icon>update</mat-icon>
              </button>
              </td>
          </ng-container>
          <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> delete </th>
              <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" (click)="onDeleteDocument(element.id)">
              <mat-icon>delete_outline</mat-icon>
              </button>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>

    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButton>
    </mat-paginator>
</div>
