<mat-drawer-container class="table-users-wrapper">
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <app-departement-form
      (onCancelEvent)="drawer.toggle()"
      (onSubmitEvent)="onSubmitDepartement($event)"
    >
    </app-departement-form>
  </mat-drawer>

  <div class="departement-table-container">
    <div class="button-create">
      <button mat-stroked-button color="primary" (click)="drawer.toggle()">
        Create
      </button>
    </div>
    <app-departement
      (onClickEdit)="onEditClick($event)"
      (onDepartementDetails)="onDetails($event)"
    ></app-departement>
  </div>
</mat-drawer-container>
