<mat-drawer-container class="table-users-wrapper">
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <app-user-add
      (onCancelEvent)="drawer.toggle()"
      (onClickEvent3)="drawer.toggle()"
      (onSubmitEvent)="onSubmitUser($event)"
    ></app-user-add>
  </mat-drawer>

  <div class="user-table-container">
    <div class="button-create">
      <button mat-stroked-button color="primary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>Back
      </button>
      <button mat-stroked-button color="primary" (click)="drawer.toggle()">
        Create
      </button>
    </div>  
    <div>
      <app-user-table (onClickEdit)="onEditClick($event)"></app-user-table>
    </div>
  </div>
</mat-drawer-container>
